header {
    background-image:url(ldy.png);
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.work-experience {
    background-image:url(sz.png);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.yuanshen-videos {
    background-image:url(fnn.png);
    color: #fff;
    padding: 1rem;
    text-align: center;
	
}
.study-videos {
    background-image:url(nxd.png);
    color: #fff;
    padding: 1rem;
    text-align: center;
	
}
.self-evaluation{
    background-image:url(ht.png);
    color: #fff;
    padding: 1rem;
    text-align: center;
}



.personal-info {
            padding-bottom: 20px;
            margin-bottom: 0px;
        }

        .contact-info {
            display: flex;
            justify-content: space-around;
        }


