header {
    background: #9933FF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.work-experience {
    background: #FF99CC;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.yuanshen-videos {
    background: #3399FF;
    color: #fff;
    padding: 1rem;
    text-align: center;
	
}
.study-videos {
    background: #00CC00;
    color: #fff;
    padding: 1rem;
    text-align: center;
	
}
.self-evaluation{
    background: #CC0000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}



.personal-info {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .contact-info {
            display: flex;
            justify-content: space-around;
        }

