header {
    background-image:url(ldy.png);
    color:#fff;
    padding:1rem;
    text-align:center;
    overflow:auto;
    background-repeat: no-repeat;
}
a {
    color: #000; /* 设置链接颜色为黑色 */
    text-decoration: none; /* 去除下划线 */
}
.work-experience {
    background-image:url(sz.png);
    color:#fff;
    padding:1rem;
    text-align:center;
    overflow:auto;
    background-repeat: no-repeat;
}

.yuanshen-videos {
    background-image:url(fnn.png);
    color:#fff;
    padding:1rem;
    text-align:center;
    overflow:auto;
    background-repeat: no-repeat;
	
}
.study-videos {
    background-image:url(nxd.png);
    color:#fff;
    padding:1rem;
    text-align:center;
    overflow:auto;
    background-repeat: no-repeat;
}
.self-evaluation{
    background-image:url(ht.png);
    color:#fff;
    padding:1rem;
    text-align:center;
    overflow:auto;
    background-repeat: no-repeat;
}



.personal-info {
            padding-bottom:20px;
            margin-bottom:20px;
	    overflow:auto;
        }

        .contact-info {
            display:flex;
            justify-content:space-around;
        }


